[Unit]
Description=GPD Fan Daemon
After=syslog.target

[Service]
Type=forking
PIDFile=/var/run/gpdfand.pid
ExecStart=/usr/local/bin/gpdfand

[Install]
WantedBy=multi-user.target
